@font-face {
    font-family: 'Museo Cyrl 300';
    src: url('../fonts/museo/exljbris - Museo Cyrl 300.eot');
    src: local('☺'), url('../fonts/museo/exljbris - Museo Cyrl 300.woff') format('woff'),
    url('../fonts/museo/exljbris - Museo Cyrl 300.ttf') format('truetype'),
    url('../fonts/museo/exljbris - Museo Cyrl 300.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Cyrl 500';
    src: url('../fonts/museo/exljbris - Museo Cyrl 500.eot');
    src: local('☺'), url('../fonts/museo/exljbris - Museo Cyrl 500.woff') format('woff'),
    url('../fonts/museo/exljbris - Museo Cyrl 500.ttf') format('truetype'),
    url('../fonts/museo/exljbris - Museo Cyrl 500.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Cyrl 700';
    src: url('../fonts/museo/exljbris - Museo Cyrl 700.eot');
    src: local('☺'), url('../fonts/museo/exljbris - Museo Cyrl 700.woff') format('woff'),
    url('../fonts/museo/exljbris - Museo Cyrl 700.ttf') format('truetype'),
    url('../fonts/museo/exljbris - Museo Cyrl 700.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Cyrl 900';
    src: url('../fonts/museo/exljbris - Museo Cyrl 900.eot');
    src: local('☺'), url('../fonts/museo/exljbris - Museo Cyrl 900.woff') format('woff'),
    url('../fonts/museo/exljbris - Museo Cyrl 900.ttf') format('truetype'),
    url('../fonts/museo/exljbris - Museo Cyrl 900.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Museo Cyrl 500';
}
ul {
    list-style-type: none;
    padding: 0;
}
header {
    padding-top: 39px;
}
.container {
    padding: 0;
}
.list-header-telephove {
    text-align: right;
}
.list-header-telephove li i {
    color: #00ad3a;
    margin-right: 11px;
    font-size: 22px;
}
.list-header-telephove li {
    color: #2e2e2e;
    font-size: 20px;
    margin-top: -5px;
    font-family: 'Museo Cyrl 500';
}
.lint-head-tel {
    text-decoration: underline;
    color: #2e2e2e;
    font-size: 16px;
    padding-top: 13px;
    display: block;
}
.title-section-all {
    color: #2e2e2e;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    padding: 10px 0 0 0;
}
.section_1 {
    position: relative;
    padding-bottom: 118px;
}
header:before {
    content: '';
    background: url("../img/left-arr-dec.png") no-repeat center;
    position: absolute;
    width: 357px;
    height: 554px;
    left: -1561px;
    top: 90px;
    margin: auto;
    right: 0;
}
.section-1-list li img {
    position: absolute;
    left: 0;
    top: -8px;
}
.section-1-list li {
    color: #2e2e2e;
    font-family: 'Museo Cyrl 300';
    font-size: 20px;
    padding-left: 51px;
    margin-bottom: 27px;
    position: relative;
}
.section-1-list {
    margin-top: 5px;
    padding-left: 0;
}
.content-section-1 {
    padding-top: 50px;
}
.convert-block {
    background: url("../img/convert.png");
    height: 442px;
    position: relative;
    margin-left: -17px;
}
.convert-block:before {
    position: absolute;
    content: '';
    background: url("../img/analytics.png") no-repeat center;
    width: 98px;
    height: 88px;
    top: -31px;
    right: -45px;
}
.title-form-all-style {
    color: #525252;
    font-size: 22px;
    text-align: center;
    font-family: 'Museo Cyrl 500';
}
.title-form-position {
    padding: 43px 0 0 5px;
}
.mini-text-form {
    color: #525252;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 39px;
    padding-left: 8px;
}
.all-input-number {
    height: 68px;
    opacity: 0.5;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.35);
    max-width: 252px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none !important;
    padding-left: 12px;
}
.all-input-submit {
    width: 253px;
    height: 68px;
    background-color: #ff6d3b;
    border: 3px solid #b03e32;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Museo Cyrl 500';
    text-align: center;
    outline: none !important;
}
.input-group-form {
    padding: 30px 25px 0 30px;
}
.text-bottom-position {
    padding: 33px 42px 0 45px;
}
.mini-tytle-style {
    color: #2e2e2e;
    font-size: 30px;
    font-family: 'Museo Cyrl 500';
    text-align: center;
}
.section-2-position-title {
    padding-bottom: 20px;
}
.title-link-sect-2 {
    color: #2e2e2e;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Museo Cyrl 500';
    transition: all .3s;
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left-list-sect-2-text {
    font-size: 18px;
    transition: all .3s;
    color: #2e2e2e;
}
.right-list-sect-2-text {
    color: #2e2e2e;
    font-family: 'Museo Cyrl 500';
    font-size: 18px;
    transition: all .3s;
}
.non-padding-all {
    padding: 0;
}
.decor-list-block {
    height: 201px;
    border-radius: 10px;
    background-color: #fff;
    padding: 8px 15px 0 30px;
    color: #2e2e2e;
    transition: all .3s;
    overflow: hidden;
    position: relative;
    margin-bottom: 6px;
}
.decor-list-block:before {
    content: '';
    position: absolute;
    background: url("../img/bef-arr-list.png") no-repeat center;
    width: 80px;
    height: 127px;
    bottom: -127px;
    right: 8px;
    transition: all .3s;
}
.decor-list-block:hover:before {
    bottom: 0px;
}
.decor-list-block:hover {
    background-color: #ff6d3b;
    color: #fff;
}
.decor-list-block:hover .title-link-sect-2 {
    color: #fff;
}
.decor-list-block:hover .list-sect-2 li .left-list-sect-2-text,
.decor-list-block:hover .list-sect-2 li .right-list-sect-2-text{
    color: #fff;
}
.list-sect-2 li {
    margin-top: 15px;
    transition: all .3s;
    line-height: 23px;
}
.link-more-block {
    color: #2b2b2b;
    font-family: 'Museo Cyrl 500';
    text-align: center;
    display: block;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 19px;
    position: relative;
    left: 13px;
    letter-spacing: -0.3px;
}
.link-more-block i {
    margin-left: 10px;
    position: relative;
    bottom: -2px;
}
.section_3 {
    height: 400px;
    height: 905px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/conv-2.png") no-repeat 58% -592px;
}
.title-form-all {
    color: #2b2b2b;
    font-family: 'Museo Cyrl 500';
    font-size: 36px;
}
.section_4 {
    background: #fffbed;
}
.all-form-style {
    margin: 151px auto 0;
    max-width: 1034px;
    width: 100%;
    padding: 72px 62px 0 32px;
}
.all-text-form-style {
    color: #2b2b2b;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-top: 38px;
    padding-right: 70px;
}
.block-top-presentation {
    background: url("../img/presentation.png") no-repeat center;
    height: 138px;
    margin-top: -13px;
    margin-left: -2px;
}
.form-width-block-left {
    width: 71.8%;
}
.form-width-block-right {
    width: 28.2%;
    margin-left: -6px;
}



















































































































































